<main>

        <h1>CONECTE-SE <br>
            COM</h1>

        <div id="img-social">
            <img src="img/1.png">
            <img src="img/4.png">
            <img src="img/3.png">
        </div>

        <div id="tabela">

            <form method="POST" action='@Url.Action("Login", "Cliente")'>

                <p><label for="cMail">
                        <!--E-mail:--></label>
                    <input type="email" name="tMail" id=cMail size="20" maxlength="40" placeholder="E-mail" /></p>
                <p><label for="cSenha">
                        <!--Senha:<--></label>
                    <input type="password" name="tSenha" id=cSenha size="8" maxlength="8" placeholder="Senha" /></p>

                <input type="submit" name="Entar" value="Entar">

            </form>
        </div>
</main>