<main>

    <h1>Galeria</h1>

    <!--------------------- GALERIA --------------------->
    <ul>
        <li><a href="#img1"><img src="img/C1.jpg" class="min"></a></li>
        <li><a href="#img2"><img src="img/C2.jpg" class="min"></a></li>
        <li><a href="#img3"><img src="img/C3.jpg" class="min"></a></li>
        <li><a href="#img4"><img src="img/C4.jpg" class="min"></a></li>
        <li><a href="#img5"><img src="img/C5.jpg" class="min"></a></li>
    </ul>

    <div class="lbox" id="img1">
        <div class="box-img">
            <a href="#img5" class="btn" id="prev">&#171;</a>
            <a href="" class="btn" id="close">X</a>
            <img src="~/img/C1.jpg">
            <a href="#img2" class="btn" id="next">&#187;</a>
        </div>
    </div>

    <div class="lbox" id="img2">
        <div class="box-img">
            <a href="#img1" class="btn" id="prev">&#171;</a>
            <a href="" class="btn" id="close">X</a>
            <img src="~/img/C2.jpg">
            <a href="#img3" class="btn" id="next">&#187;</a>
        </div>
    </div>

    <div class="lbox" id="img3">
        <div class="box-img">
            <a href="#img2" class="btn" id="prev">&#171;</a>
            <a href="" class="btn" id="close">X</a>
            <img src="~/img/C3.jpg">
            <a href="#img4" class="btn" id="next">&#187;</a>
        </div>
    </div>

    <div class="lbox" id="img4">
        <div class="box-img">
            <a href="#img3" class="btn" id="prev">&#171;</a>
            <a href="" class="btn" id="close">X</a>
            <img src="~/img/C4.jpg">
            <a href="#img5" class="btn" id="next">&#187;</a>
        </div>
    </div>

    <div class="lbox" id="img5">
        <div class="box-img">
            <a href="#img4" class="btn" id="prev">&#171;</a>
            <a href="" class="btn" id="close">X</a>
            <img src="~/img/C5.jpg">
            <a href="#img1" class="btn" id="next">&#187;</a>
        </div>
    </div>

    <!--------------------- GALERIA --------------------->
    <h1> Siga-nos nas redes sociais</h1>

    <div id="img-social">


        <div class="caixa2">
            <div>
                <div>

                    <img src="img/img 4.png">
                    <div class="caixa"></div>
                </div>
                <div>
                    <img src="img/img 3.png">
                    <div class="caixa"></div>
                </div>
            </div>
            <div>
                <div>
                    <img src="img/img 1.png">
                    <div class="caixa"></div>
                </div>
                <div>
                    <img src="img/img 2.png">
                    <div class="caixa"></div>
                </div>
            </div>
        </div>
    </div>

    <h1>Depoimentos</h1>

    <div class="caixa3">
        <div class="caixa"></div>
        <div class="caixa"></div>
        <div class="caixa"></div>
    </div>

    <h1>Localização</h1>

</main>